In [11]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords as nltk_stopwords
from nltk.stem import PorterStemmer, WordNetLemmatizer
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB 
from sklearn.metrics import accuracy_score

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Amna\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [37]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Amna\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [41]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Amna\AppData\Roaming\nltk_data...

True

In [13]:
def preprocess_text(text):
    text = text.lower()
    tokens = word_tokenize(text)
    cleaned = [lemmer.lemmatize(word) 
              for word in tokens if word.isalpha() and word not in stop_words
              ]
    return " ".join(cleaned)

In [15]:
stop_words = set(nltk_stopwords.words('english'))
lemmer = WordNetLemmatizer()

In [27]:
import pandas as pd
df = pd.read_csv('spam_ham_dataset.csv')
df.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\nth...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\n( see a...",0
2,3624,ham,"Subject: neon retreat\nho ho ho , we ' re arou...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\nthis deal is to ...,0

In [29]:
df.isna().sum()

Unnamed: 0    0
label         0
text          0
label_num     0
dtype: int64

In [33]:
df.drop(columns=['Unnamed: 0','label'], inplace=True)
df.head()

                                                text  label_num
0  Subject: enron methanol ; meter # : 988291\nth...          0
1  Subject: hpl nom for january 9 , 2001\n( see a...          0
2  Subject: neon retreat\nho ho ho , we ' re arou...          0
3  Subject: photoshop , windows , office . cheap ...          1
4  Subject: re : indian springs\nthis deal is to ...          0

In [45]:
df['text'] = df['text'].apply(preprocess_text)

In [49]:
df.drop(columns=['cleaned_text'], inplace=True)

In [51]:
df.head()

                                                text  label_num
0  subject enron methanol meter follow note gave ...          0
1  subject hpl nom january see attached file hpln...          0
2  subject neon retreat ho ho ho around wonderful...          0
3  subject photoshop window office cheap main tre...          1
4  subject indian spring deal book teco pvr reven...          0

In [53]:
vectorizer = TfidfVectorizer(max_features=1000)
X = vectorizer.fit_transform(df['text'])
y = df['label_num']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
mnb = MultinomialNB()
mnb.fit(X_train, y_train)
y_pred = mnb.predict(X_test)
print(f"Accuray: {accuracy_score(y_test, y_pred)}")

Accuray: 0.9304347826086956